<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <contexts>
      <context type="SubtitleTranslator.DataModel.StDbContext, SubtitleTranslator.DataModel">
        <databaseInitializer type="TS7S.Entity.JustWorkInitializer, TS7S.Entity" />
      </context>
    </contexts>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="StDbContext" connectionString="Data Source=C:\Users\Mahdi7s\Documents\Visual Studio 2012\Projects\SubtitleTranslator\SubtitleTranslator.Application\bin\x64\Debug\AudioBook.db3;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>

  <appSettings>
    <add key="KMPPath" value="C:\Program Files (x86)\The KMPlayer\KMPlayer.exe , C:\Program Files\The KMPlayer\KMPlayer.exe"/>
    <add key="WMPPath" value="C:\Program Files (x86)\Windows Media Player\wmplayer.exe , C:\Program Files\Windows Media Player\wmplayer.exe"/>
  </appSettings>
</configuration>